.menu{
 	list-style:none;
 	display: flex;
  	align-items: center;
  	justify-content: center;
}
.menu li{
	float:left;
	margin-right: 2px;
	font-family: Arial;
    font-size: 40px;
}
.menu li a{
    display:block;
    padding 4px 15px;
    background: #0db5b5;
    color: #3f3f3f;
    text-decoration: none;
}
.menu li a:hover{
	background: #92d3d3;
	color:#6b6b6b;
}
.menu1{
	margin-top: 7px;
 	list-style:none;
 	display: flex;
  	align-items: center;
  	justify-content: center;
}
.menu1 li{
	float:left;
	margin-right: 2px;
	font-family: Arial;
    font-size: 40px;
}
.menu1 li a{
    display:block;
    padding 4px 15px;
    background: #D636C9;
    color: #3f3f3f;
    text-decoration: none;
}
.menu1 li a:hover{
	background: #D660CC;
	color:#6b6b6b;
}
.bg1{
	background: #000 url(back.png); 
	color: #FFFFFF; 
	background-attachment: inherit; 
	background-repeat: repeat-x;
	background- size: cover;
}
.bg2{
	background: #000 url(kosmos.jpg); 
	color: #FFFFFF; 
	background-attachment: inherit; 
	background-repeat: repeat-x;
	background- size: cover;
}
.bg3{
	background: #000 url(city.jpg); 
	color: #FFFFFF; 
	background-attachment: inherit; 
	background-repeat: repeat-x;
	background- size: cover;
}
.bg4{
	background: #000 url(backgroundJob.png); 
	color: #FFFFFF; 
	background-attachment: inherit; 
	background-repeat: repeat-x;
	background- size: cover;
}
.foto{
	text-align:center;
}
.pocentru{
	text-align:center;
}
table{
    width: 300px; 
    border: 2px solid green; 
    margin: auto; 
}
nav {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
nav ul {
    display: inline-block;
}
nav li {
    float:left;
}
b { 
	color: #FFFFFF;
}
.stilno{
  margin: 20px;
  font-family: 'Arial';
  color: blue;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
.hide + label {
    border-bottom: 1px;
    padding: 0;
    color: white;
    cursor: pointer;
    display: inline-block; 
}
.hide:checked + label {
    color: white;
    border-bottom: 0;
}
.hide:checked + label + div {
    display: block; 
    background: #00000;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    color: white;
    padding: 15px; 
}
.demo {
    margin: 5% 10%;
}
.ochenstilno{
	color: #7FFFD4;
}
.superstilno{
	color: #FFFF00;
}
h1 {
   text-indent:-9999px;
   margin:0 auto;
   width:3000px;
   height:150px;
   background:transparent url("jstlogo3.jpg") no-repeat scroll;
}